<div>
    <div id="add_todo">
        <span class="todo_date">
            <label id="date">
                Date :
            </label>
            <input type="text" id="datepicker" ng-model="todoDate">
        </span>
        <span class="new_todo">
            <label id="todo">
                Todo :
            </label>
            <input type="text" ng-model="newTodo" placeholder="Enter todo"/>
        </span>
        <span class="new_catg">
            <label id="todo_catg">
                Todo Category :
            </label>
            <input type="text" ng-model="todoCatg" placeholder="Enter todo category"/>
        </span>
        <button ng-click="addtodo()" class="btn btn-primary" id="add_btn">
            addTodo
        </button>
    </div>
</div>
