<div>
    <div id="new_head">
        <h1>
            Add new todo list
        </h1>
    </div>
    <div id="add_todo">
        <form>
            <div class="todo_date">
                <label class="new_label">
                    Date :
                </label>
                <input class="new_input" type="text" id="datepicker" ng-model="todoDate" placeholder="select date" required/>
            </div>
            <div class="new_todo">
                <label class="new_label">
                    Todo :
                </label>
                <input class="new_input" type="text" ng-model="newTodo" placeholder="Enter todo" required/>
            </div>
            <div class="new_catg">
                <label class="new_label">
                    Todo Category :
                </label>
                <input class="new_input" type="text" ng-model="todoCatg" placeholder="Enter todo category" required/>
            </div>
            <div id="new_btn">
                <button ng-click="addtodo()" class="btn btn-primary">
                    addTodo
                </button>
            </div>
        </form>
    </div>
</div>
