<h1>
    ToDo Logger
</h1>
<form name="frm" ng-submit="">
    <input type="text" name="todo" ng-model="newTodo"/>
    <button ng-disabled="frm.$invalid" ng-click="addTodo()">
        Add ToDo
    </button>
</form>
<ul>
    <li class = "list" ng-repeat="todo in todosArray"  ng-class="{'selected':$index == selectedRow, strikeItem: todo.done }" ng-click="setClickedRow($index)" >
      <!--<input ng-model="todo.done" type="checkbox"/>-->
        <span><i class="fa fa-check"></i>
</span>
        <span ng-class="{'done': todo.done}">
            {{ todo.text }}
           <p class="space">
            </p>
            <!--Time Spent to complete todo: {{todo.time}}-->
            completed in {{todo.time}}
            <div stopwatch todo=todo todosArray=todosArray time="sharedTime">
            </div>
        </span>
    </li>
</ul>
<script type="text/ng-template" id="stopwatch.html">
    <div class="buttons">
        <button href="" ng-show ="timerCtrl.play" id="timerPlay"  class="played" ng-class = "{playedd: todo.done}" ng-click="timerCtrl.plays();timerCtrl.showme=false" ng-disabled ="todo.done">
            <i class="fa fa-play">
            </i>
        </button>
        <button href=""  ng-show ="!timerCtrl.play" id="timerPause" class="paused"  ng-click="timerCtrl.pauses(todo.text,timerCtrl.getElapsedMs()); timerCtrl.showme=true" >
            <i class="fa fa-pause" >
            </i>
        </button>
        <button ng-show="timerCtrl.showme; " ng-click="timerCtrl.complete(todo.text,timerCtrl.getElapsedMs());timerCtrl.showremove=true" >
            <i class="fa fa-check-square-o">
            </i>
        </button>
        <button  ng-show="!timerCtrl.showme; timerCtrl.showremove=true " ng-click="timerCtrl.remove(todo.text)">
            <i class="fa fa-times" id="complete">
            </i>
        </button>
    </div>
    <div class="timer" > Time:
        {{timerCtrl.getElapsedMs()}}
    </div>
</script>

