<div>
    <div id="new_head">
        <h1>
            Todo categories
        </h1>
        <span class="list-group-item list-group-item-danger empty_width" ng-show="empty">
          Todo list is empty.
        </span
    </div>
    <div id="catgs_list" class="categories">
        <ul  >
            <li class="catg_list" ng-repeat="catg in catgArry" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                <a ui-sref="todoList.catg({key:catg.todoCatg})" >
                    {{catg.todoCatg}}
                </a>
            </li>
        </ul>
        <div class="new_catgory">
          <i class="fa fa-plus-circle fa-lg" ng-click="add()">
            Add List
          </i>
          <div class="add_catg" ng-show="newtodos">
          <input class="new_input" type="text" ng-model="todoCatg" placeholder="Enter todo category" required/>
          <button ng-click="addCatg()" class="btn btn-primary catg_btn">
              addCatgry
          </button>
        </div>
    </div>

  </div>
    <div ui-view id="catList"></div>
</div>
