<div>
<ul >
    <li class="list-group-item list-group-item-warning" ng-repeat="todo in list ">
        <input type="checkbox" ng-checked="todo.completed"  ng-click="changeTodo()"/>
    </input>
    <span ng-show="!todo.completed">
        {{ todo.text }}
    </span>
    <del ng-show="todo.completed">
        {{ todo.text }}
    </del>
    <a href="" ng-click="removeTodo(todo)">
        remove
    </a>
</li>

<!--
    <p>
        <span>
            {{completedCount}} of {{list.length}} completed
        </span
    </p>
-->
</ul>
</div>