<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="activity_logger.todolog">
                        ToDo Logger
                    </a>
                </li>
                <li>
                    <a ui-sref ="activity_logger.completedtodos">
                        Completed Todos
                    </a>
                </li>
                <li>
                    <a ui-sref ="activity_logger.report">
                        Report
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div ui-view>
</div>
