<div>
  <div class="search_box">
    <a ui-sref="todoList.search({keyword:searchTodo})">
      <button class=" search_btn btn btn-primary"><i class="fa fa-search"></i>
      </button>
    </a>
    <i class="fa fa-times-circle fa-lg close_icon" ng-click="clear()" ng-show="searchTodo"></i>
    <input class="search_input" type="text" ng-model="searchTodo" placeholder="search"/>
  </div>
  <div id="new_head">
    <h1>
        Todo List
    </h1>
    <i class="fa fa-plus-circle fa-lg" ng-click="add()" data-toggle="tooltip" data-placement="top" title="add category">
    </i>
    <div class="add_catg show_animate" ng-show="newtodos">
      <span class="close_form" ng-click="clearForm()"></span>
      <input class="new_input" type="text" ng-model="todoCatg" placeholder="Enter todo category" required/>
      <button ng-click="addCatg()" class="btn btn-primary catg_btn">
          submit
      </button>
    </div>
    <span class="list-group-item  empty_width no_todo" ng-show="empty">
        Todo list is empty.
    </span>

  </div>
  <div ui-view id="catList"></div>
  <div id="catgs_list" class="categories">
    <ul class="list_ul">
      <a class="catg_list" ui-sref="todoList.catg({key:catg.todoCatg})" ng-repeat="catg in catgArry" ng-class="{'selected_catg':$index == selectedRow}" ng-click="setClickedRow($index)">
        <li class="cate"><i class="fa fa-circle size"></i>{{catg.todoCatg}}</li>
      </a>
    </ul>

  </div>

</div>
