#seperator{
	display:inline-block;
	width:16%;
}
#partial{
	display:inline-block;
	margin:0 auto;
	box-sizing:border-box;
	width:80%;
}
@media screen and (min-width: 320px) {
  #seperator{
    display: none;
  }
  #partial{
    width: 100%;
  }
}
