$lightgrey : #D3D3D3;
$black : #222;
$white : #fff;
$navyblue : #23527C;
$darkgray : #888888;
$gray : #a1a1a1;
$lightred : #F44336;
$darkgreen : #006400;
$grey: #808080;
$darksilver : #4C3F3F;
$blue : #337AB7;
$lightblue : #03A9F4;
$silver : #9d9d9d;
