/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "header";
@import "contents";
@import "todolist";
@import "categoryTodos";
@import "search";
@import "animate";

body{
	font-family: Adelle,Georgia,serif;
	a:hover{
		text-decoration: none;
	}
	a:active{
		text-decoration: none;
	}
	a:visited{
		text-decoration: none;
	}
	a:link{
		text-decoration: none;
	}
}
.selected {
    background-color:$lightgrey;
    color:$black;
    font-weight:bold;
}
.strikeItem{
		text-decoration: line-through;
		color:$darkgreen;
		}
		.playedd{
			text-decoration: line-through;
		}
h1{
	font-size: 20px;
	font-weight:bold;
	padding-bottom: 20px;
	color:$black;
}
.completedlist{
	height: 50px;
	border-bottom: 1px solid #808080;
}
.buttons{
	display: inline-block;
	float:right;
	margin-right: 10%;
}
.timer{
	display: inline-block;
	float:right;
	padding-right:2%;
}
.list{
	height: 50px;
	border-bottom: 1px solid $grey;
	margin-right:5%;
	margin-left: 5%;
	margin-bottom:1%;
}
.list:hover{
	background-color:$lightgrey;
}
.space{
	padding-left: 10%;
	display: inline-block;
}
ul{
	margin-top: 5%;
}
.navbar-inverse{
	background-color:$black;
	border: 1px solid $grey;
	height: 50px;
}
.header1{
	height:40px;
	margin-top:0px;
	width: 105%;
	background-color:$white;
	border: 1px solid $white;
}

// .navbar-inverse .navbar-nav li  a {
// 	color:$darksilver;
// 	font-weight:bold;
// 	border: 1px solid $lightgrey;
//   border-radius: 10px;
//   margin-right: 4px;
// }
// .navbar-inverse .navbar-nav li  a:hover{
//     color: $black;
//     background-color:$grey;
// }
// .navbar-brand{
// 	font-weight:bold;
// }
//
// .navbar-nav{
// 	float:right;
// }
