<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <title>
            ToDo-App
        </title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="../assets/styleSheets/bootstrap.css"/>
        <link href="../assets/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../assets/js/lib/jquery-1.11.3.min.js">
        </script>
        <script type="text/javascript" src="../assets/js/lib/bootstrap.js">
        </script>
        <script type="text/javascript" src="../assets/js/lib/angular.min.js">
        </script>
        <script type="text/javascript" src="../assets/js/lib/angular-route.min.js">
        </script>
        <script type="text/javascript" src="../assets/js/lib/ngStorage.js">
        </script>
      	<script type="text/javascript" src="../assets/js/lib/angular-filter.js">
         </script>
        <script type="text/javascript" src="../assets/js/lib/angular-ui-router.js">
        </script>
        <script type="text/javascript" src="../assets/js/lib/jquery-ui.js">
        </script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" id="site_logo" href="#">
                           <img src="../assets/images/todologo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </header>
       <div id="side_nav">
       	<ul>
       		<li><a ui-sref="newtodo">New List</a></li>
       		<li><a >ToDo List</a></li>
  			<li><a >Activity Logger</a></li>
		</ul>
       </div>
       <div ui-view id="partial"></div>
        <script type="text/javascript" src="../app.js"></script>
        <script type="text/javascript" src="../controllers/newtodoController.js"></script>
        <script type="text/javascript" src="../routes/todoRoute.js"></script>
        <script type="text/javascript" src="../services/storageService.js"></script>
    </body>
</html>
