/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
header {
  height: 51px;
}
/* line 10, ../sass/screen.scss */
header img {
  margin-top: -10px;
}

/* line 14, ../sass/screen.scss */
body {
  font-family: 'Roboto Slab', serif;
}
/* line 16, ../sass/screen.scss */
body a:hover {
  text-decoration: none;
}
/* line 19, ../sass/screen.scss */
body a:active {
  text-decoration: none;
}
/* line 22, ../sass/screen.scss */
body a:visited {
  text-decoration: none;
}
/* line 25, ../sass/screen.scss */
body a:link {
  text-decoration: none;
}

/* line 31, ../sass/screen.scss */
#side_nav {
  margin: 0 auto;
  width: 15%;
  display: inline-block;
  box-sizing: border-box;
  background-color: #ddd;
  position: fixed;
  left: 0;
  top: 51px;
  bottom: 0;
}
/* line 42, ../sass/screen.scss */
#side_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 47, ../sass/screen.scss */
#side_nav ul li {
  height: 50px;
}
/* line 49, ../sass/screen.scss */
#side_nav ul li a {
  display: block;
  color: #222;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
/* line 56, ../sass/screen.scss */
#side_nav ul li a:hover {
  background-color: #222;
  color: white;
}

/* line 63, ../sass/screen.scss */
#seperator {
  display: inline-block;
  width: 16%;
}

/* line 67, ../sass/screen.scss */
#partial {
  display: inline-block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
}

/* line 73, ../sass/screen.scss */
#new_head {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  margin-left: 15px;
}
/* line 80, ../sass/screen.scss */
#new_head h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}

/* line 86, ../sass/screen.scss */
.new_input {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 11px;
  padding: 5px;
  border: 1px solid #a1a1a1;
}

/* line 95, ../sass/screen.scss */
.li-width {
  width: 333px;
}
/* line 97, ../sass/screen.scss */
.li-width a:active {
  color: red;
}

/* line 101, ../sass/screen.scss */
#catList {
  float: right;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  display: inline-block;
  margin-top: 32px;
}

/* line 109, ../sass/screen.scss */
#catgs_list {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 25px;
  display: inline-block;
}

/* line 116, ../sass/screen.scss */
.h1_size {
  font-size: 26px;
}

/* line 119, ../sass/screen.scss */
.empty_width {
  margin-top: 10px;
  font-size: 18px;
}

/* line 123, ../sass/screen.scss */
.icon {
  float: right;
}

/* line 126, ../sass/screen.scss */
.add_catg {
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 22px;
}

/* line 132, ../sass/screen.scss */
.catg_btn {
  margin-top: 25px;
}

/* line 135, ../sass/screen.scss */
.catg_list {
  height: 37px;
  font-size: 20px;
}

/* line 139, ../sass/screen.scss */
.selected {
  font-weight: bold;
  color: #3c763d;
  background-color: #dff0d8;
}

/* line 144, ../sass/screen.scss */
.new_catgory {
  margin-top: 22px;
}

/* line 147, ../sass/screen.scss */
.todos {
  font-size: 14px;
}

/* line 150, ../sass/screen.scss */
.search_input {
  float: right;
  font-size: 15px;
  border-radius: 25px 0px 0px 25px;
  padding: 5px;
  border: 1px solid #a1a1a1;
  height: 33px;
}

/* line 158, ../sass/screen.scss */
.search_btn {
  float: right;
  border-radius: 0px 25px 25px 0px;
  height: 33px;
  font-size: 17px;
}

/* line 164, ../sass/screen.scss */
.search_box {
  float: right;
  margin-top: 20px;
}

/* line 168, ../sass/screen.scss */
.todo_text {
  font-size: 17px;
  margin-left: 10px;
}

/* line 172, ../sass/screen.scss */
.result_head {
  color: red;
  font-size: 25px;
}

/* line 176, ../sass/screen.scss */
.catg_result {
  box-sizing: border-box;
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
}

/* line 182, ../sass/screen.scss */
.search_ul {
  padding-top: 15px;
}
/* line 184, ../sass/screen.scss */
.search_ul li {
  padding: 11px;
}

/* line 188, ../sass/screen.scss */
.close_icon {
  position: absolute;
  top: 81px;
  right: 93px;
  background-color: transparent;
  z-index: 2;
}
