/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
header {
  height: 51px;
}
/* line 10, ../sass/screen.scss */
header img {
  margin-top: -10px;
}

/* line 16, ../sass/screen.scss */
#side_nav {
  margin: 0 auto;
  width: 15%;
  display: inline-block;
  box-sizing: border-box;
  background-color: #ddd;
  position: fixed;
  left: 0;
  top: 51px;
  bottom: 0;
}
/* line 27, ../sass/screen.scss */
#side_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/screen.scss */
#side_nav ul li {
  height: 50px;
}
/* line 34, ../sass/screen.scss */
#side_nav ul li a {
  display: block;
  color: #222;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
/* line 41, ../sass/screen.scss */
#side_nav ul li a:hover {
  background-color: #222;
  color: white;
}

/* line 48, ../sass/screen.scss */
#seperator {
  display: inline-block;
  width: 16%;
}

/* line 52, ../sass/screen.scss */
#partial {
  display: inline-block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
  margin-top: 80px;
}

/* line 61, ../sass/screen.scss */
#new_head {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin-left: 15px;
}
/* line 67, ../sass/screen.scss */
#new_head h1 {
  font-size: 30px;
  font-weight: 600;
}

/* line 72, ../sass/screen.scss */
#add_todo {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 25px;
}

/* line 79, ../sass/screen.scss */
.todo_date {
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
}

/* line 84, ../sass/screen.scss */
.new_todo {
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
}

/* line 89, ../sass/screen.scss */
.new_catg {
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
}

/* line 94, ../sass/screen.scss */
.new_input {
  display: block;
  margin-top: 22px;
  width: 255px;
}

/* line 99, ../sass/screen.scss */
.new_label {
  font-size: 20px;
  font-weight: 400;
}

/* line 103, ../sass/screen.scss */
#new_btn {
  display: block;
  text-align: center;
  margin-top: 50px;
}

/* line 108, ../sass/screen.scss */
#sucess {
  margin-top: 20px;
}

/* line 111, ../sass/screen.scss */
.aler_span {
  display: block;
}

/* line 115, ../sass/screen.scss */
.new_input.ng-invalid {
  background-color: pink;
}

/* line 118, ../sass/screen.scss */
.new_input.ng-valid {
  background-color: lightgreen;
}

/* line 121, ../sass/screen.scss */
.selected {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
}

/* line 126, ../sass/screen.scss */
.strikeItem {
  text-decoration: line-through;
  color: #006400;
  background-color: lightgreen;
}

/* line 131, ../sass/screen.scss */
.playedd {
  text-decoration: line-through;
}

/* line 135, ../sass/screen.scss */
h1 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* line 140, ../sass/screen.scss */
.completedlist {
  height: 50px;
  border-bottom: 1px solid #808080;
}

/* line 145, ../sass/screen.scss */
.buttons {
  display: inline-block;
  float: right;
  margin-right: 10%;
}

/* line 150, ../sass/screen.scss */
.timer {
  display: inline-block;
  float: right;
}

/* line 154, ../sass/screen.scss */
.list {
  height: 50px;
  border: 1px solid #808080;
  border-radius: 7px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
  box-shadow: 10px 10px 5px grey;
}

/* line 163, ../sass/screen.scss */
.list:hover {
  background-color: pink;
}

/* line 166, ../sass/screen.scss */
.space {
  padding-left: 10%;
  display: inline-block;
}

/* line 171, ../sass/screen.scss */
ul {
  margin-top: 3%;
}

/* line 174, ../sass/screen.scss */
.fa-times {
  color: #FF0000;
}

/* line 177, ../sass/screen.scss */
.navbar-inverse {
  background-color: #021302;
  box-shadow: 10px 10px 5px grey;
}
