/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
header {
  height: 51px;
}
/* line 10, ../sass/screen.scss */
header img {
  margin-top: -10px;
}

/* line 14, ../sass/screen.scss */
body {
  font-family: Adelle,Georgia,serif;
}
/* line 16, ../sass/screen.scss */
body a:hover {
  text-decoration: none;
}
/* line 19, ../sass/screen.scss */
body a:active {
  text-decoration: none;
}
/* line 22, ../sass/screen.scss */
body a:visited {
  text-decoration: none;
}
/* line 25, ../sass/screen.scss */
body a:link {
  text-decoration: none;
}

/* line 31, ../sass/screen.scss */
#side_nav {
  margin: 0 auto;
  width: 14%;
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 21px;
  bottom: 0;
  margin-top: 4%;
  border-right: 1px solid lightgrey;
}
/* line 43, ../sass/screen.scss */
#side_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 48, ../sass/screen.scss */
#side_nav ul li {
  height: 50px;
}
/* line 50, ../sass/screen.scss */
#side_nav ul li a {
  display: block;
  color: #222;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
/* line 57, ../sass/screen.scss */
#side_nav ul li a:hover {
  background-color: #222;
  color: white;
}

/* line 64, ../sass/screen.scss */
#seperator {
  display: inline-block;
  width: 16%;
}

/* line 68, ../sass/screen.scss */
#partial {
  display: inline-block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
}

/* line 74, ../sass/screen.scss */
#new_head {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  margin-left: 15px;
  height: 27px;
}

/* line 84, ../sass/screen.scss */
.new_input {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 11px;
  padding: 5px;
  border: 1px solid #a1a1a1;
}

/* line 93, ../sass/screen.scss */
#catList {
  float: right;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  display: inline-block;
}

/* line 100, ../sass/screen.scss */
#catgs_list {
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  display: inline-block;
  width: 50%;
}
/* line 106, ../sass/screen.scss */
#catgs_list h1 {
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  padding-right: 50px;
}
/* line 112, ../sass/screen.scss */
#catgs_list .add_i {
  font-size: 26px;
  vertical-align: 0;
  cursor: pointer;
}

/* line 118, ../sass/screen.scss */
.h1_size {
  font-size: 26px;
  color: #23527c;
  font-weight: 600;
  padding-bottom: 10px;
}

/* line 124, ../sass/screen.scss */
.empty_width {
  margin-top: 10px;
  font-size: 18px;
}

/* line 128, ../sass/screen.scss */
.icon {
  float: right;
  color: #222;
  cursor: pointer;
}

/* line 133, ../sass/screen.scss */
.add_catg {
  border: 1px solid lightgrey;
  padding: 20px;
  position: fixed;
  width: 30%;
  top: 40%;
  left: 40%;
  z-index: 2;
  background-color: #fff;
  text-align: center;
  box-shadow: 5px 5px 5px  #888888;
}
/* line 144, ../sass/screen.scss */
.add_catg input {
  width: 100%;
}

/* line 149, ../sass/screen.scss */
.catg_btn {
  margin-top: 25px;
}

/* line 152, ../sass/screen.scss */
.list_todo {
  margin-top: 0px;
}
/* line 154, ../sass/screen.scss */
.list_todo li {
  text-align: left;
  height: 25px;
  font-size: 22px;
  padding-bottom: 10px;
}
/* line 160, ../sass/screen.scss */
.list_todo a {
  color: #222;
}

/* line 166, ../sass/screen.scss */
.list_ul li {
  text-align: left;
  height: 25px;
  font-size: 22px;
  padding-bottom: 35px;
}

/* line 173, ../sass/screen.scss */
.catg_list {
  color: #222;
}

/* line 186, ../sass/screen.scss */
.size {
  font-size: 15px;
  padding-right: 10px;
}

/* line 190, ../sass/screen.scss */
.selected_catg {
  font-weight: bold;
  color: #23527c;
}

/* line 197, ../sass/screen.scss */
.todos {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* line 202, ../sass/screen.scss */
.com_todos {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
}

/* line 207, ../sass/screen.scss */
.search_input {
  float: right;
  font-size: 15px;
  border-radius: 25px 0px 0px 25px;
  padding: 5px;
  border: 1px solid #a1a1a1;
  height: 33px;
}

/* line 215, ../sass/screen.scss */
.search_btn {
  float: right;
  border-radius: 0px 25px 25px 0px;
  height: 33px;
  font-size: 17px;
}

/* line 221, ../sass/screen.scss */
.search_box {
  float: right;
  margin-top: 20px;
}

/* line 225, ../sass/screen.scss */
.todo_text {
  padding-left: 5px;
  font-size: 19px;
}

/* line 229, ../sass/screen.scss */
.result_head {
  color: red;
  font-size: 25px;
}

/* line 233, ../sass/screen.scss */
.catg_result {
  box-sizing: border-box;
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
  padding-top: 5px;
}

/* line 241, ../sass/screen.scss */
.search_todo {
  padding-left: 7px;
}

/* line 244, ../sass/screen.scss */
.search_ul {
  margin-top: 10px;
}

/* line 247, ../sass/screen.scss */
.close_icon {
  position: absolute;
  top: 80px;
  right: 95px;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}

/* line 256, ../sass/screen.scss */
.selected {
  background-color: lightgrey;
  color: black;
  font-weight: bold;
}

/* line 261, ../sass/screen.scss */
.strikeItem {
  text-decoration: line-through;
  color: #006400;
}

/* line 265, ../sass/screen.scss */
.playedd {
  text-decoration: line-through;
}

/* line 269, ../sass/screen.scss */
h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  color: black;
}

/* line 275, ../sass/screen.scss */
.completedlist {
  height: 50px;
  border-bottom: 1px solid #808080;
}

/* line 280, ../sass/screen.scss */
.buttons {
  display: inline-block;
  float: right;
  margin-right: 10%;
}

/* line 285, ../sass/screen.scss */
.timer {
  display: inline-block;
  float: right;
  padding-right: 2%;
}

/* line 290, ../sass/screen.scss */
.list {
  height: 50px;
  border-bottom: 1px solid #808080;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
}

/* line 297, ../sass/screen.scss */
.list:hover {
  background-color: lightgrey;
}

/* line 300, ../sass/screen.scss */
.space {
  padding-left: 10%;
  display: inline-block;
}

/* line 305, ../sass/screen.scss */
ul {
  margin-top: 5%;
}

/* line 308, ../sass/screen.scss */
.fa-times {
  color: #690707;
}

/* line 311, ../sass/screen.scss */
.navbar-inverse {
  background-color: #222;
  border: 1px solid grey;
  height: 50px;
}

/* line 316, ../sass/screen.scss */
.header1 {
  height: 40px;
  margin-top: 0px;
  width: 105%;
  background-color: white;
  border: 1px solid white;
}

/* line 324, ../sass/screen.scss */
#site_logo {
  font-size: 20px;
}

/* line 327, ../sass/screen.scss */
.navbar-inverse .navbar-nav li a {
  color: #4C3F3F;
  font-weight: bold;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-right: 4px;
}

/* line 334, ../sass/screen.scss */
.navbar-inverse .navbar-nav li a:hover {
  color: black;
  background-color: grey;
}

/* line 338, ../sass/screen.scss */
.navbar-brand {
  font-weight: bold;
}

/* line 341, ../sass/screen.scss */
.sidenav li a {
  font-weight: bold;
}

/* line 344, ../sass/screen.scss */
#side_nav ul li a:hover {
  background-color: grey;
}

/* line 347, ../sass/screen.scss */
#side_nav ul li a {
  padding-top: 10%;
  padding-left: 15%;
  padding-bottom: 10%;
}

/* line 352, ../sass/screen.scss */
.navbar-nav {
  float: right;
}

/* line 355, ../sass/screen.scss */
.list_ul {
  margin-top: 5px;
}

/* line 359, ../sass/screen.scss */
.no_todo {
  width: 100%;
}

/* line 362, ../sass/screen.scss */
.new_catgory {
  padding-top: 10px;
}

/* line 365, ../sass/screen.scss */
.close_form {
  float: right;
  padding-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
}

/* line 371, ../sass/screen.scss */
.close_form:after {
  content: "X";
  display: block;
  width: 18px;
  height: 17px;
  background-color: #337AB7;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #337AB7;
  cursor: pointer;
}

/* line 387, ../sass/screen.scss */
.complted_show {
  color: #03A9F4;
  cursor: pointer;
  float: right;
}

/* line 392, ../sass/screen.scss */
.completed_count {
  font-size: 18px;
}

/* line 395, ../sass/screen.scss */
.com_ul {
  margin-top: 0;
  padding: 10px;
}

/* line 399, ../sass/screen.scss */
.show_animate {
  transition: all linear 0.5s;
}

/* line 402, ../sass/screen.scss */
.show_animate.ng-hide {
  opacity: 0;
}

/* line 405, ../sass/screen.scss */
.animate_li.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 100%;
}

/* line 412, ../sass/screen.scss */
.animate_li.ng-enter-active {
  margin-left: 0;
}

/* line 416, ../sass/screen.scss */
.animate_li.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 0;
}

/* line 422, ../sass/screen.scss */
.animate_li.ng-leave-active {
  margin-left: 200%;
}
